@page
@model Sess1.Pages.AboutModel
@{
    ViewData["Title"] = "About Us";
}

<h2 class="thead-light">About US</h2>
<p class="alert-info">
    We do a lot of interesting work with customers around the world!
</p>
