<div>
  <nav>
   <a routerLink="/about" routerLinkActive="false">About Us</a>
   <a routerLink="/contact" routerLinkActive="false">Contact Us</a>
   <a routerLink="/services" routerLinkActive="false">Services</a>
   <a routerLink="/leaders" routerLinkActive="false">Top Leadership</a>
   <a routerLink="/complaint" routerLinkActive="false">Complaints</a>
   <a routerLink="/enquiry" routerLinkActive="false">Enquiries</a>
  </nav>
</div>
<div>
  <h3>Welcome to {{title}}</h3>
</div>
<div>
  <router-outlet></router-outlet>
</div>