@model Inputs

@*<form method="post" action="Index">
    X &nbsp;<input type="text" id="x" /><br />
    Y &nbsp;<input type="text" id="y" /><br />
    <button type="submit">Add</button>
</form>*@

<form asp-controller="Maths" asp-action="Index" method="post">
    X &nbsp;<input type="text" id="x" asp-for="X" /><br />
    Y &nbsp;<input type="text" id="y" asp-for="Y" /><br />
    <input type="submit" value="Add"/>
</form>